{% extends 'base.html.twig' %}

{% block title %}Thematiques index{% endblock %}

{% block body %}
    <h1>Thematiques index</h1>

        {% for theme in themes %}
            <article class="subject__card">
                <h1>{{theme.name}}</h1>
                <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
                <p>Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.</p>
                <a class="admin__link" href="{{ path('thematiques_show', {'id': theme.id}) }}">Details</a>
                <a class="admin__link" href="{{ path('thematiques_edit', {'id': theme.id}) }}">Editer</a>
                <a class="admin__link" href="{{ path('thematiques_delete', {'id': theme.id}) }}">Supprimer</a>
            </article>
        {% endfor %}
    <a href="{{ path('thematiques_new') }}">Create new</a>
{% endblock %}
