{% extends 'base.html.twig' %}

{% block title %}Détails d'une thematique{% endblock %}

{% block body %}
    <div class="subject__allCards">
        <article class="subject__card">
            <h1>Thematique</h1>
            <h2>{{ thematique.name }}</h2>
            <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
            <h2>Description</h2>
            <p class="subject__cardDescription">{{ thematique.description }}</p>
            <a class="admin__link" href="{{ path('thematiques_index') }}">Retour</a>
            <a class="admin__link" href="{{ path('thematiques_edit', {'id': thematique.id}) }}">Éditer</a>
            {{ include('thematiques/_delete_form.html.twig') }}
        </article>
    </div>
{% endblock %}
