{% extends 'base.html.twig' %}
{% block body %}
    <section class="meetings__head">
        <div class="meetings_head-image">
            <img class="meeting__image" src="/img/placeholder.png" alt="Meetings_images">
        </div>
        <div class="meetings__head-text">
            <h1>
                {{ meeting.name }}
            </h1>
            <div class="meetings__head-line"></div>
                <h1>
                    Theme
                </h1>
                <p>
                    {{ meeting.participating }} personne(s) participent.
                </p>
            </div>
                <div class="meetings__requirements">
                    <h2>
                        Pré-requis
                    </h2>
                    <div class="meetings__head__requirements-line">
                        <br />
                        <p>
                            {{ meeting.required }}
                        </p>
                    </div>
                </div>
        </section>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="subject__actions">
            {{ include('meeting/_delete_form.html.twig') }}
        </div>
    {% endif %}
    <section class="meetings__description">
        <h2>
            Description
        </h2>
        <div class="meetings__head__description-line"></div>
        <p>
            {{ meeting.description }}
        </p>
    </section>
    <section class="">
        <form method="post">
            <div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="admin__link" href="{{ path('meeting_date_new', {'id': meeting.id}) }}">Créer un nouveau créneau</a>
                {% endif %}
                <div class="meetings_schedule-title">
                    <h2>
                        Créneaux a venir
                    </h2>
                </div>
                <div class="meetings__head__date-line"></div>
                {% for date in nextDates %}
                    <div class="meetings__schedule__one">
                        <input type="checkbox" value="{{ date.entity.id }}" id="date_select" name="date_select[]">
                        <label for="date_one">
                            {{ date.date|date("d/m/Y h:m") }} <br/>
                            <span class="meetings__participate">Nombre de participants: {{ date.interested }}</span>
                        </label>
                    </div>
                {% endfor %}
                {% if app.user %}
                    <button type="submit" class="meeting--button" name="meetingDateButton">Ce(s) créneau(x) m'intéresse(nt)</button>
                {% endif %}
            </div>
            <div class="meetings__passedDates">
                <div class="meetings_schedule-title-2">
                    <h2>
                        Créneaux passée
                    </h2>
                </div>
                <div class="meetings__head__date-line-2"></div>
                {% for date in pastDates %}
                    <div class="meetings__schedule__two">
                        <label for="date_two">
                            {{ date.date|date("d/m/Y h:m") }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </form>
    </section>
{% endblock %}