{% extends 'base.html.twig' %}

{% block title %}Détail d'un atelier{% endblock %}

{% block body %}
    <div class="subject__allCards">
        <article class="subject__card">
            <h1>Atelier</h1>
            <h2>{{ meeting.name }}</h2>
            <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
            <h2>Description</h2>
            <p class="subject__cardDescription">{{ meeting.description }}</p>
            <h2>Pré-requis</h2>
            <p class="subject__cardDescription">{{ meeting.required }}</p>
            <h2>Nombre de participants</h2>
            <p class="subject__cardDescription">{{ meeting.participating }}</p>
            <a class="admin__link" href="{{ path('meetings_index') }}">Retour</a>
            <a class="admin__link" href="{{ path('meetings_edit', {'id': meeting.id}) }}">Éditer</a>
            {{ include('meetings/_delete_form.html.twig') }}
        </article>
    </div>
{% endblock %}
