<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="header__header">
        <a class="header__logoText" href="https://www.romainclair.com/">
            <h1 class="header__header-h1"></h1>
            <h2>Romain Clair</h2>
        </a>
        <nav class="header__nav">
            <ul class="header__nav-ul">
                <li>
                    <a href="{{ path('show_theme') }}">
                        <span>Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('subjects_index') }}">
                        Admin
                    </a>
                </li>
                <li>
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}">{{ app.user.username }} Se déconnecter</a>
                    {% else %}
                        <a href="{{ path('app_login') }}"> Se connecter</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
        <footer>
            <div>
                <div class="footer__bottom">
                    <a href="https://www.romainclair.com/mentions.php">Mentions légales</a>
                </div>
            </div>
        </footer>
    </main>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
