<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="header__header">
        <a href="https://www.romainclair.com/">
            <h1 class="header__header-h1"></h1>
            <h2>Romain Clair</h2>
        </a>
    </header>
        <nav>
        <ul>
            <li>
                <a href="{{ path('show_theme') }}">
                    <span>Accueil</span>
                </a>
            </li>
            <li>
                <a href="{{ path('list_subject') }}">
                    Sujet
                </a>
            </li>
            <li>
                <a href="{{ path('subjects_index') }}">
                    Admin
                </a>
            </li>
        </ul>
    </nav> 
    <main>
        {% block body %}{% endblock %}
    </main>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
