<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="header__header">
        <a href="https://www.romainclair.com/">
            <h1 class="header__header-h1"></h1>
            <h2>Romain Clair</h2>
        </a>
        <nav class="header__nav">
            <ul class="header__nav-ul">
                <li>
                    <a href="{{ path('show_theme') }}">
                        <span>Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('list_subject') }}">
                        Sujet
                    </a>
                </li>
                <li>
                    <a href="{{ path('subjects_index') }}">
                        Admin
                    </a>
                </li>
            </ul> 
    </header>
    <main>
    </nav>
        {% block body %}{% endblock %}
        <footer>
            <div>
                <div class="footer__references">
                    <h1>References</h1>
                    <p>
                        Docteur en informatique et ingénieur système et réseau
                        <a href="https://www.romainclair.com/references.php">Suite</a>
                    </p>
                    <p class="footer__logos">
                        <a href="http://www.univ-tours.fr/" class="UnivTours">Université François-Rabelais de Tours</a>
                        <a href="http://polytech.univ-tours.fr/" class="Polytech">Polytech</a>
                        <a href="http://www.insa-centrevaldeloire.fr/" class="Insa">INSA Centre Val de Loire</a>
                        <a href="http://www.cnam-centre.fr/" class="Cnam">Le CNAM Centre</a>
                        <a href="http://www.cefim.eu/" class="Cefim">CEFIM</a>
                        <a href="http://www.greta37.com/" class="Greta">Greta d'Indre et Loire</a>
                        <a href="http://www.diabolusinmusica.fr/" class="Diabolus">Diabolus in Musica</a>
                        <a href="http://www.eben37.fr/" class="Eben">eben 37</a>
                    </p>
                </div>
                <div class="footer__contact">
                    <h1>Contacts</h1>
                    <p>
                        N'hésitez pas à me contacter par mail contactweb (at) romainclair.com ou par téléphone
                        <a href="tel:+33632395560">06.32.39.55.60</a>
                    </p>
                </div>
                <div class="footer__bottom">
                    <a href="https://www.romainclair.com/mentions.php">Mentions légales</a>
                </div>
            </div>
        </footer>
    </main>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
