{% extends "base.html.twig" %}
{% block title %}Les ateliers de Romain Clair{% endblock %}
{% block body %}
  <main class="subject">
    <!-- Here is the head of the content-->
    <h1 class="subject__title">Romain Clair, Formateur et Consultant en Informatique.</h1>
    <p>Romain Clair vous propose la solution pour participer, organiser, animer les ateliers sur des sujets variés sous le thème de l'informatique.</p>
    <!-- Here is card with each subjects-->
      <a href="{{ path('list_subject') }}">
        <article class="subject__card">
          <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
          <img class="subject__show-more-icon" src="https://via.placeholder.com/20" alt="placeholder for a button that hide description on mobile">
          <p class="subject__link">Voir moins</p>
          <h2>Développement</h2>
          <p>Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.</p>
          <ul class="subject__atelier-list">
          </ul>
        </article>
      </a>
    <a href="{{ path('list_subject') }}">
      <article class="subject__card">
        <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
        <img class="subject__show-more-icon" src="https://via.placeholder.com/20" alt="placeholder for a button that hide description on mobile">
        <p class="subject__link">Voir moins</p>
        <h2>Système</h2>
        <p>Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.</p>
        <ul class="subject__atelier-list">
        </ul>
      </article>
    </a>
    <a href="{{ path('list_subject') }}">
      <article class="subject__card">
        <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
        <img class="subject__show-more-icon" src="https://via.placeholder.com/20" alt="placeholder for a button that hide description on mobile">
        <p class="subject__link">Voir moins</p>
        <h2>Réseau</h2>
        <p>Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.</p>
        <ul class="subject__atelier-list">
        </ul>
      </article>
    </a>
    <a href="{{ path('list_subject') }}">
      <article class="subject__card">
        <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
        <img class="subject__show-more-icon" src="https://via.placeholder.com/20" alt="placeholder for a button that hide description on mobile">
        <p class="subject__link">Voir moins</p>
        <h2>Sécurité</h2>
        <p>Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.</p>
        <ul class="subject__atelier-list">
        </ul>
      </article>
    </a>
    <a href="{{ path('list_subject') }}">
      <article class="subject__card">
        <img class="subject__image" src="https://via.placeholder.com/150" alt="placeholder for an illustration">
        <img class="subject__show-more-icon" src="https://via.placeholder.com/20" alt="placeholder for a button that hide description on mobile">
        <p class="subject__link">Voir moins</p>
        <h2>Méthodologies</h2>
        <p>Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.Est Scaevola si <span>rogati consuetudo</span> et amici cum casus <span>Turpis maiorum</span> causa.</p>
        <ul class="subject__atelier-list">
        </ul>
      </article>
    </a>
  </main>
{% endblock %}
