{{ form_start(form) }}
    {{ form_widget(form.username) }}
    {% if is_granted('ROLE_ADMIN') %}
        {{ form_widget(form.roles) }}
    {% endif %}
    {{ form_widget(form.password) }}
    {{ form_errors(form) }}
    {{ form_widget(form._token) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}